.hi {
    background-color: green;
    color: yellow;
}
.hi a {
    color: peachpuff;
}
.hello {
    background-color: pink;
}
.hello a {
    color: yellow;
}
.howdy{
    background-color: blueviolet;
    color: brown
}
.howdy a{
    color: green;
}